<br>
<br>
<br>
<div class="container-fluid">
  <center>
    <h1><a href = "www.shannon.com"><button class = "btn btn-xlarge btn-info">ASSOCIATES</button></a></h1></font>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-lg-6">
		<h1><a href = "www.shannon.com"><button class = "btn btn-xlarge btn-info">PROJECTS</button></a></h1>      </div>
      <div class="col-lg-6">
        <h1><a href = "www.shannon.com"><button class = "btn btn-xlarge btn-info">TEAMS</button></a></h1>
      </div>
    </div>
  </center>

     
<style>
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
</style>