<div class="row text-center">
  <div class="col-md-4" style="background-color: #f4a6a6;">
    <h2>In Complete</h2>
    <ul class="list-group">
      <div ng-repeat="story in model.stories">
      <li  style="height: 100px;" class="list-group-item list-group-item-danger">
        <h3>{{story.desc}}</h3>
    </li>
    <br>
  </div>
    </ul>


  </div>
  <div class="col-md-4" style="background-color: lightyellow ">
    <h2>In Complete</h2>
    <ul class="list-group">
      <li style="height: 100px;" class="list-group-item list-group-item-warning">
        <h3>Dapibus ac facilisis in</h3></li>
      <br>
      <li style="height: 100px;" class="list-group-item list-group-item-warning">
        <h3>Dapibus ac facilisis in</h3></li> <br>
      <li style="height: 100px;" class="list-group-item list-group-item-warning">
        <h3>Dapibus ac facilisis in</h3></li> <br>
      <li style="height: 100px;" class="list-group-item list-group-item-warning">
        <h3>Dapibus ac facilisis in</h3></li>
    </ul>

  </div>
  <div class="col-md-4" style="background-color: #b5ffc2; ">
    <h2>Completed</h2>
    <ul class="list-group">
      <li style="height: 100px;" class="list-group-item list-group-item-success">
        <h3>Dapibus ac facilisis in</h3></li>
      <br>
      <li style="height: 100px;" class="list-group-item list-group-item-success">
        <h3>Dapibus ac facilisis in</h3></li> <br>
      <li style="height: 100px;" class="list-group-item list-group-item-success">
        <h3>Dapibus ac facilisis in</h3></li> <br>
      <li style="height: 100px;" class="list-group-item list-group-item-success">
        <h3>Dapibus ac facilisis in</h3></li>
    </ul>

  </div>
</div>


<style>
  ul.list-group:after {
    clear: both;
    display: block;
    content: "";
  }

  .list-group-item {

    margin: 0px;
    padding: 10px 10px;
  }
</style>
