

<form>
  <div class="form-group">
    <label for="associateName">Name</label>
    <input type="text" class="form-control" id="associateName" placeholder="John Doe">
  </div>
  <div class="form-group">
    <label for="aaNum">AA Numebr</label>
    <input type="text" class="form-control" id="aaNum" placeholder="AA Number">
  </div>
  <div class="form-group">
    <label for="associateEmail">Work Email</label>
    <input type="email" id="associateEmail" placeholder = "Email@ferguson.com">
  </div>
  <div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
  </div>
  <div class="form-group">
    <label for="teamPos">Team Position</label>
    <input type="text" class="form-control" id="teamPos" placeholder="Team Position">
  </div>
  <div class="form-group">
    <label for="associateManager">Manager</label>
    <input type="text" class="form-control" id="associateManager" placeholder="Manager">
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <div ng-repeat = "team in model.teams">
      <li>  {{team.teamName}}</li>
      <li class="divider"></li>
    </div>
    </ul>
  </div>

</form>
