<br>
<div class="col-lg-4 col-lg-offset-0">
  <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Search</span>
  <input ng-model = "$ctrl.query" type="text" class="form-control" placeholder="Team Name" aria-describedby="sizing-addon1">
</div>
</div>
  <button class = "btn btn-large btn-info"> Register New Team </button>

  <br><br><br><br>
 
  <div >
  <div ng-repeat = "team in model.teams | filter:$ctrl.query" class = "square">
  	<div class = "content">
  		<center>
          <h1>{{team.teamName}}</h1>
        
          <h3>
          <em>
            {{team.functionalArea}}
          </em>
          </h3>
      </center>

  	</div>
  </div>
  </div>

<style>
.square {
    float:left;
    position: relative;
    width: 25%;
    padding-bottom: 25%; /* = width for a 1:1 aspect ratio */
    overflow:hidden;
    
}

.content {
    position:absolute;
    height:70%; /* = 100% - 2*10% padding */
    width:80%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
  	background-color: #0089CD;
    color: white;
    -webkit-border-top-right-radius: 24px;
    -webkit-border-top-left-radius: 24px;
    -moz-border-top-right-radius: 24px;
    -moz-border-top-left-radius: 24px; 
    -webkit-border-bottom-right-radius: 24px;
    -webkit-border-bottom-left-radius: 24px;
    -moz-border-bottom-right-radius: 24px;
    -moz-border-bottom-left-radius: 24px;   
}
.content:hover {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    padding-top: 50px;
    background-color:lightblue;
}
</style>
